.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.arboretum {
  display: grid;
  grid-template-columns: repeat(var(--cols), var(--tile-size));
  grid-gap: 0;
  align-self: flex-start;
}

* {
  box-sizing: border-box;
}

#bottom-pannel {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

#bottom-pannel-left {
  float: left;
  height: 100%;
}

#bottom-pannel-right {
  float: right;
  height: 100%;
  padding-right: 150px;
}

.active {
  color: rgba(255, 25, 25, 0.438);
  animation: blink-animation 2s steps(20, start) infinite;
  -webkit-animation: blink-animation 2s steps(20, start) infinite;
}
@keyframes blink-animation {
  to {
    color: rgb(255, 25, 25);
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: rgb(255, 25, 25);
  }
}

.draw-button {
  position: absolute;
  right: auto;
  left: 8px;
  bottom: 10px;
}

.draw-button.small {
  font-size: 50%;
}

.lost-points {
  text-decoration: line-through;
}